<div class="events">
    <h2>EVENTS TABLE</h2>
    <table>
        <tr>
            <th class="small-width">2D</th>
            <th>
                <div class="event-table-header">
                    <p>EVENT</p>
                    <div class="event">
                        <label for="event-roll">Roll for an Event:</label>
                        <input type="number" id="event-roll" [ngModel]="" min="2" max="12">
                        <button (click)="event()">Submit</button>
                    </div>
                </div>
            </th>
        </tr>
        <tr *ngFor="let event of defineNumber(11)">
            <td>{{event + 1}}</td>
            <td [innerHTML]="career.Events[event + 1].Description"></td>
        </tr>
    </table>
</div>
