<h1>Characteristics</h1>
<h2>Directions:</h2>
<ul>
  <li>Roll 3d6 twice</li>
  <li>Roll 2d6 four times</li>
  <li>Input results into desired attributes.</li>
</ul>
<form class="attributes">
  <div class="attr str">
    <label for="strength">Strength</label>
    <input type="number" id="strength" name="str" [(ngModel)]="strScore" (change)="strChange()" min="2" max="12"/>
    <p class="dice-modifier">({{strDm >= 0 ? '+' + strDm : strDm}})</p>
  </div>
  <div class="attr dex">
    <label for="dexterity">Dexterity</label>
    <input type="number" id="dexterity" name="dex" [(ngModel)]="dexScore" (change)="dexChange()" min="2" max="12"/>
    <p class="dice-modifier">({{dexDm >= 0 ? '+' + dexDm : dexDm}})</p>
  </div>
  <div class="attr end">
    <label for="endurance">Endurance</label>
    <input type="number" id="endurance" name="end" [(ngModel)]="endScore" (change)="endChange()" min="2" max="12"/>
    <p class="dice-modifier">({{endDm >= 0 ? '+' + endDm : endDm}})</p>
  </div>
  <div class="attr int">
    <label for="intellect">Intellect</label>
    <input type="number" id="intellect" name="int" [(ngModel)]="intScore" (change)="intChange()" min="2" max="12"/>
    <p class="dice-modifier">({{intDm >= 0 ? '+' + intDm : intDm}})</p>
  </div>
  <div class="attr edu">
    <label for="education">Education</label>
    <input type="number" id="education" name="edu" [(ngModel)]="eduScore" (change)="eduChange()" min="2" max="12"/>
    <p class="dice-modifier">({{eduDm >= 0 ? '+' + eduDm : eduDm}})</p>
  </div>
  <div class="attr soc">
    <label for="social">Social standing</label>
    <input type="number" id="social" name="dex" [(ngModel)]="socScore" (change)="socChange()" min="2" max="12"/>
    <p class="dice-modifier">({{socDm >= 0 ? '+' + socDm : socDm}})</p>
  </div>
</form>
<button class="primary" (click)="submit()">Next</button>
