<h1>CHARACTER SHEET</h1>

<div class="flex-row">
  <div class="basic-data">
    <div class="name-age">
      <p>NAME: {{_characterService.getName()}}</p>
      <p>AGE: {{_characterService.getAge()}}</p>
    </div>
    <p>RADS: {{_characterService.getRads()}}</p>
    <p>SPECIES: {{_characterService.getSpecies()}}</p>
    <p>SPECIES TRAITS: {{_characterService.getSpeciesTraits()}}</p>
    <p>HOMEWORLD: {{_characterService.getHomeworld()}}</p>
  </div>

  <div class="armour">
    <h2>ARMOUR</h2>
    <table>
      <tr>
        <th class="armour-type">TYPE</th>
        <th class="armour-rad">RAD</th>
        <th class="armour-protection">PROTECTION</th>
        <th class="armour-kg">KG</th>
        <th class="armour-options">OPTIONS</th>
      </tr>
      <tr *ngFor="let armour of getArmour()">
        <td class="armour-type">{{armour.Type}}</td>
        <td class="armour-rad">{{armour.Rad}}</td>
        <td class="armour-protection">{{armour.Protection}}</td>
        <td class="armour-kg">{{armour.KG}}</td>
        <td class="armour-options">{{armour.Options}}</td>
      </tr>
    </table>
  </div>
</div>

<div class="flex-row">
  <app-characteristics></app-characteristics>

  <div class="finances">
    <h2>FINANCES</h2>
    <div>
      <h3>PENSION</h3>
      <p>Cr <u>{{getPension()}}</u></p>
    </div>
    <div>
      <h3>DEBT</h3>
      <p>Cr <u>{{getDebt()}}</u></p>
    </div>
    <div>
      <h3>CASH ON HAND</h3>
      <p>Cr <u>{{getCash()}}</u></p>
    </div>
    <div>
      <h3>MONTHLY SHIP PAYMENTS</h3>
      <p>Cr <u>{{getMonthlyShipPayment()}}</u></p>
    </div>
    <div>
      <h3>LIVING COST</h3>
      <p>Cr <u>{{getLivingCost()}}</u></p>
    </div>
  </div>

  <div class="connections">
    <h2>ALLIES</h2>
    <ul>
      <li *ngFor="let connection of getAllies()">{{connection}}</li>
    </ul>
    <h2>CONTACTS</h2>
    <ul>
      <li *ngFor="let connection of getContacts()">{{connection}}</li>
    </ul>
    <h2>RIVALS</h2>
    <ul>
      <li *ngFor="let connection of getRivals()">{{connection}}</li>
    </ul>
    <h2>ENEMIES</h2>
    <ul>
      <li *ngFor="let connection of getEnemies()">{{connection}}</li>
    </ul>
  </div>
</div>

<div class="header">
  <h2>SKILLS</h2>
  <div class="jack-of-all-trades"><p>{{_skillService.SkillName.JackOfAllTrades}}: {{getJackOfAllTrades()}} | Untrained Penalty: {{-3 +getJackOfAllTrades()}}</p></div>
</div>
<div class="flex">
  <div class="grid-item" *ngFor="let skill of _skillService.skills">
    <div *ngIf="isBaseSkill(skill) && skill.Name != jackOfAllTrades" class="entry">
      <p class="skill-name">{{skill.Name}}</p>
      <p
        class="value">{{(_characterService.getSkills()[skill.Name] != undefined) ? _characterService.getSkills()[skill.Name] : ''}}</p>
    </div>
    <div *ngFor="let subskill of getSubskills(skill)">
      <div class="entry subskill-name">
        <p>> {{subskill}}</p>
        <p
          class="value">{{_characterService.getSkills()[subskill] != undefined ? _characterService.getSkills()[subskill] : ''}}</p>
      </div>
    </div>
  </div>
</div>

<div class="flex-row">
  <div class="weapons">
    <h2>WEAPONS</h2>
    <table>
      <tr>
        <th class="weapon">WEAPON</th>
        <th class="tl">TL</th>
        <th class="range">RANGE</th>
        <th class="damage">DAMAGE</th>
        <th class="kg">KG</th>
        <th class="magazine">MAGAZINE</th>
        <th class="traits">TRAITS</th>
      </tr>
      <tr *ngFor="let weapon of getWeapons()">
        <td>{{weapon.Name}}</td>
        <td>{{weapon.TL}}</td>
        <td>{{weapon.Range}}</td>
        <td>{{weapon.Damage}}</td>
        <td>{{weapon.KG}}</td>
        <td>{{weapon.Magazine}}</td>
        <td>{{weapon.Traits}}</td>
      </tr>
    </table>
  </div>

  <div class="augments">
    <h2>AUGMENTS</h2>
    <table>
      <tr>
        <th class="weapon">TYPE</th>
        <th class="tl">TL</th>
        <th class="improvement">IMPROVEMENT</th>
      </tr>
      <tr *ngFor="let augment of getAugments()">
        <td>{{augment.Type}}</td>
        <td>{{augment.TL}}</td>
        <td>{{augment.Improvement}}</td>
      </tr>
    </table>
  </div>
</div>

<div class="other-equipment">
  <h2>EQUIPMENT</h2>
  <table>
    <tr>
      <th></th>
      <th>Mass</th>
    </tr>
  </table>
</div>

<div class="log">
  <h2>CHARACTER LOG</h2>
  <ul>
    <li *ngFor="let entry of _loggingService.getLogs()">{{entry}}</li>
  </ul>
</div>
