<h1>Character Sheet</h1>

<div class="basic-data">
  <div class="name-age">
    <p>NAME: {{_characterService.getName()}}</p>
    <p>AGE: {{_characterService.getAge()}}</p>
  </div>
  <p>RADS: {{_characterService.getRads()}}</p>
  <p>SPECIES: {{_characterService.getSpecies()}}</p>
  <p>SPECIES TRAITS: {{_characterService.getSpeciesTraits()}}</p>
  <p>HOMEWORLD: {{_characterService.getHomeworld()}}</p>
</div>

<h2>Characteristics</h2>
<div class="flex-col">
  <div class="column">
    <div class="characteristic">
      <p>Strength:</p>
      <p>{{_characterService.getCharacteristics().Strength}} ({{strengthDm >= 0 ? '+' + strengthDm : strengthDm}})</p>
    </div>
    <div class="characteristic">
      <p>Dexterity:</p>
      <p>{{_characterService.getCharacteristics().Dexterity}} ({{dexterityDm >= 0 ? '+' + dexterityDm : dexterityDm}}
        )</p>
    </div>
    <div class="characteristic">
      <p>Endurance:</p>
      <p>{{_characterService.getCharacteristics().Endurance}} ({{enduranceDm >= 0 ? '+' + enduranceDm : enduranceDm}}
        )</p>
    </div>
  </div>
  <div class="column">
    <div class="characteristic">
      <p>Intellect:</p>
      <p>{{_characterService.getCharacteristics().Intellect}} ({{intellectDm >= 0 ? '+' + intellectDm : intellectDm}}
        )</p>
    </div>
    <div class="characteristic">
      <p>Education:</p>
      <p>{{_characterService.getCharacteristics().Education}} ({{educationDm >= 0 ? '+' + educationDm : educationDm}}
        )</p>
    </div>
    <div class="characteristic">
      <p>Social Standing:</p>
      <p>{{_characterService.getCharacteristics().SocialStatus}} ({{socialDm >= 0 ? '+' + socialDm : socialDm}})</p>
    </div>
  </div>
</div>

<hr>

<h2>Skills</h2>
<div class="flex">
  <div class="grid-item" *ngFor="let skill of _skillService.skills">
    <div *ngIf="isBaseSkill(skill) && skill.Name != jackOfAllTrades" class="entry">
      <p class="skill-name">{{skill.Name}}</p>
      <p
        class="value">{{(_characterService.getSkills()[skill.Name] != undefined) ? _characterService.getSkills()[skill.Name] : ''}}</p>
    </div>
    <div *ngFor="let subskill of getSubskills(skill)">
      <div class="entry subskill-name">
        <p>> {{subskill}}</p>
        <p
          class="value">{{_characterService.getSkills()[subskill] != undefined ? _characterService.getSkills()[subskill] : ''}}</p>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="log">
  <h2>Character Log</h2>
  <ul>
    <li *ngFor="let entry of _loggingService.getLogs()">{{entry}}</li>
  </ul>
</div>
