.basic-data {
  margin-bottom: 32px;

  p {
    margin-bottom: 0;
  }
  .name-age{
    display: flex;
    flex-direction: row;

    p {
      margin-right: 32px;
    }
  }
}

.flex-col {
  display: flex;
  flex-direction: row;
}

.column {
  font-weight: 500;
  margin-right: 128px;
}

.grid-item {
  width: 18%;
}

.characteristic {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex {
  max-height: 1250px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
}

.entry {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.skill-name {
  font-weight: 500;
}

.subskill-name {
  background-color: lightgray;
}
