h1, h2 {
  background-color: black;
  color: red;
  padding: 8px 16px;
}

.header {
  display: flex;
  align-items: center;
  background-color: black;
  color: red;
  padding: 8px 16px;
  margin: 32px 0 16px 0;

  h2 {
    padding: 0;
    margin: 0;
  }
  p {
    margin: 0 0 0 16px;
    padding: 0 16px;
    color: white;
  }
}

.flex-row {
  display: flex;
  flex-direction: column;
}

.basic-data {
  width: 50%;
  margin-bottom: 32px;

  p {
    margin-bottom: 0;
  }

  .name-age {
    display: flex;
    flex-direction: row;

    p {
      margin-right: 32px;
    }
  }
}

.armour {
  width: 50%;

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th {
    &.armour-type {
      width: 30%;
      border-bottom: 1px solid black;
    }

    &.armour-rad {
      width: 10%;
      border-bottom: 1px solid black;
    }

    &.armour-protection {
      width: 30%;
      border-bottom: 1px solid black;
    }

    &.armour-kg {
      width: 10%;
      border-bottom: 1px solid black;
    }

    &.armour-options {
      width: 20%;
      border-bottom: 1px solid black;
    }
  }

  td {
    &.armour-type {
      width: 30%;
      border-right: 1px solid black;
    }

    &.armour-rad {
      width: 10%;
      border-right: 1px solid black;
    }

    &.armour-protection {
      width: 30%;
      border-right: 1px solid black;
    }

    &.armour-kg {
      width: 10%;
      border-right: 1px solid black;
    }

    &.armour-options {
      width: 20%;
    }
  }
}

.finances {
  width: 25%;
}

.connections {
  width: 25%;
}

.flex-col {
  display: flex;
  flex-direction: row;
}

.column {
  font-weight: 500;
  margin-right: 128px;
}

.grid-item {
  width: 18%;
}

.flex {
  max-height: 1250px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
}

.entry {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.skill-name {
  font-weight: 500;
}

.subskill-name {
  background-color: lightgray;
}

.weapons {
  width: 70%;

  table {
    width: 95%;
    margin-bottom: 16px;
  }

  th {
    &.weapon {
      width: 20%;
      border-bottom: 1px solid black;
    }

    &.tl {
      width: 5%;
      border-bottom: 1px solid black;
    }

    &.range {
      width: 15%;
      border-bottom: 1px solid black;
    }

    &.damage {
      width: 15%;
      border-bottom: 1px solid black;
    }

    &.kg {
      width: 5%;
      border-bottom: 1px solid black;
    }

    &.magazine {
      width: 20%;
      border-bottom: 1px solid black;
    }

    &.traits {
      width: 20%;
      border-bottom: 1px solid black;
    }
  }
}

.augments {
  width: 30%;

  table {
    width: 100%;
  }

  th {
    &.weapon {
      width: 40%;
      border-bottom: 1px solid black;
    }

    &.tl {
      width: 20%;
      border-bottom: 1px solid black;
    }

    &.improvement {
      width: 40%;
      border-bottom: 1px solid black;
    }
  }
}
