<h1>Sector Creator</h1>

<h2>General Rules</h2>
<div class="sector-checkbox">
  <div>
    <input type="radio" name="sector" id="mongoose-sector" [value]="0" [(ngModel)]="sectorType"/>
    <label for="mongoose-sector">Mongoose Sector</label>
  </div>
  <div>
    <input type="radio" name="sector" id="space-opera-sector" [value]="1" [(ngModel)]="sectorType"/>
    <label for="space-opera-sector">Space Opera Sector</label>
  </div>
  <div>
    <input type="radio" name="sector" id="hard-science-sector" [value]="2" [(ngModel)]="sectorType"/>
    <label for="hard-science-sector">Hard Science Sector</label>
  </div>
  <div>
    <input type="radio" name="sector" id="t5-sector" [value]="3" [(ngModel)]="sectorType"/>
    <label for="t5-sector">T5 Sector</label>
  </div>
  <div>
    <input type="radio" name="sector" id="rtt-worldgen-sector" [value]="4" [(ngModel)]="sectorType"/>
    <label for="rtt-worldgen-sector">RTT Worldgen Sector</label>
  </div>
  <div>
    <input type="radio" name="sector" id="star-frontiers-sector" [value]="5" [(ngModel)]="sectorType"/>
    <label for="star-frontiers-sector">Star Frontiers Sector</label>
  </div>
</div>

<div class="advanced-rules">
  <p>advanced</p>
  <h3>Subsector Settings</h3>
  <div>
    <app-subsector-settings class="subsector-11"></app-subsector-settings>
    <app-subsector-settings class="subsector-21"></app-subsector-settings>
    <app-subsector-settings class="subsector-31"></app-subsector-settings>
    <app-subsector-settings class="subsector-41"></app-subsector-settings>
  </div>
  <div>
    <app-subsector-settings class="subsector-12"></app-subsector-settings>
    <app-subsector-settings class="subsector-22"></app-subsector-settings>
    <app-subsector-settings class="subsector-32"></app-subsector-settings>
    <app-subsector-settings class="subsector-42"></app-subsector-settings>
  </div>
  <div>
    <app-subsector-settings class="subsector-13"></app-subsector-settings>
    <app-subsector-settings class="subsector-23"></app-subsector-settings>
    <app-subsector-settings class="subsector-33"></app-subsector-settings>
    <app-subsector-settings class="subsector-43"></app-subsector-settings>
  </div>
  <div>
    <app-subsector-settings class="subsector-14"></app-subsector-settings>
    <app-subsector-settings class="subsector-24"></app-subsector-settings>
    <app-subsector-settings class="subsector-34"></app-subsector-settings>
    <app-subsector-settings class="subsector-44"></app-subsector-settings>
  </div>

  <h3>Race Settings</h3>
  <app-race-settings></app-race-settings>
</div>

<button class="primary" (click)="generateSector()">Generate Sector</button>
<button class="primary" (click)="downloadSector()">Download Sector</button>

<app-mongoose-sector *ngIf="isMongooseSector()" [sector]="mongooseSector"></app-mongoose-sector>
<app-star-frontiers-sector *ngIf="isStarFrontiersSector()" [sector]="starFrontiersSector"></app-star-frontiers-sector>
<app-rttworldgen-sector *ngIf="isRTTWorldgenSector()" [sector]="rttWorldgenSector"></app-rttworldgen-sector>
