<h1>Sector Creator</h1>

<button class="primary" (click)="generateBasicSector()">Generate Basic Sector</button>
<button class="primary" (click)="generateSpaceOperaSector()">Generate Space Opera Sector</button>
<button class="primary" (click)="generateHardScienceSector()">Generate Hard Science Sector</button>
<button class="primary" (click)="generateSecondSurveySector()">Generate Second Survey Sector</button>
<button class="primary" (click)="generateRttSector()">Generate RTTWorldgen Sector</button>

<app-sector [basicSector]="basicSector"></app-sector>
