<h1>Sector Creator</h1>

<div class="sector-checkbox">
  <div>
    <input type="radio" name="sector" id="basic-sector" [value]="0" [(ngModel)]="sectorType"/>
    <label for="basic-sector">Basic Sector</label>
  </div>
  <div>
    <input type="radio" name="sector" id="space-opera-sector" [value]="1" [(ngModel)]="sectorType"/>
    <label for="space-opera-sector">Space Opera Sector</label>
  </div>
  <div>
    <input type="radio" name="sector" id="hard-science-sector" [value]="2" [(ngModel)]="sectorType"/>
    <label for="hard-science-sector">Hard Science Sector</label>
  </div>
  <div>
    <input type="radio" name="sector" id="t5-sector" [value]="3" [(ngModel)]="sectorType"/>
    <label for="t5-sector">T5 Sector</label>
  </div>
  <div>
    <input type="radio" name="sector" id="rtt-worldgen-sector" [value]="4" [(ngModel)]="sectorType"/>
    <label for="rtt-worldgen-sector">RTT Worldgen Sector</label>
  </div>
  <div>
    <input type="radio" name="sector" id="star-frontiers-sector" [value]="5" [(ngModel)]="sectorType"/>
    <label for="star-frontiers-sector">Star Frontiers Sector</label>
  </div>
</div>

<button class="primary" (click)="generateSector()">Generate Sector</button>
<button class="primary" (click)="downloadSector()">Download Sector</button>

<app-sector [sector]="sector"></app-sector>
