<h2>Getting Political</h2>
<p>You join a political movement!</p>
<form *ngIf="!politicalLeader && !politicalGrunt">
  <app-characteristic-roll [characteristic]="'SOC'"
                           [target]="8"
                           (rolled)="politicalMovement($event)">
  </app-characteristic-roll>
</form>
<form *ngIf="politicalLeader">
    <p>You soon became a leader in the movement! You gain 1 Ally from within the movement, and 1 Enemy from
        outside the movement.</p>
  <app-story></app-story>
    <button class="primary right" type="submit" (submit)="becamePoliticalLeader()" (click)="becamePoliticalLeader()">
        Cool!
    </button>
</form>
<form *ngIf="politicalGrunt">
    <p>But nothing really happened.</p>
    <button class="primary right" type="submit" (submit)="notPoliticalLeader()" (click)="notPoliticalLeader()">Oh...
    </button>
</form>
