<h1 mat-dialog-title>Hex</h1>
<mat-dialog-content>
  <div class="system" *ngFor="let system of data.systems">
    <h1>System {{data.systems.indexOf(system) + 1}}</h1>
    <div class="star" *ngFor="let star of system.stars">
      <h2>{{star.type}} Star:</h2>
      <p>{{star.spectralType}}-{{star.luminosity}} - {{star.age}} billion years old - {{star.orbit}}</p>
    </div>

    <div class="planet">
      <h2>Planets:</h2>
      <div *ngFor="let planet of system.planets">
        <app-planet [planet]="planet"></app-planet>
      </div>
    </div>
  </div>
</mat-dialog-content>
