<td>
    <input type="text" name="name">
</td>
<td>
    <input type="text" name="homeworld-coordinates">
</td>
<td>
    <input type="number" name="size-preference">
</td>
<td>
    <input type="number" name="atmosphere-preference">
</td>
<td>
    <input type="text" name="temperature-preference">
</td>
<td>
    <input type="number" name="hydrographics-preference">
</td>
<td>
    <input type="number" name="population-preference">
</td>
<td>
    <input type="number" name="government-preference">
</td>
<td>
    <input type="number" name="terraforming-value">
</td>
<td>
    <input type="number" name="law-level-modifier">
</td>
<td>
    <input type="number" name="tech-level-modifier">
</td>
<td>
    <input type="number" name="starport-modifier">
</td>
