<div class="subsector">
  <h2>Subsector ({{getSubsectorCoordinates()}})</h2>
  <table>
    <tr>
      <th>Hex</th>
      <th>Name</th>
      <th>UWP</th>
      <th>Remarks</th>
      <th>{{"{"}}Ix{{"}"}}</th>
      <th>(Ex)</th>
      <th>[Cx]</th>
      <th>N</th>
      <th>B</th>
      <th>Z</th>
      <th>PBG</th>
      <th>W</th>
      <th>A</th>
      <th>Stellar</th>
    </tr>
    <tr *ngFor="let hex of subsector.hexes">
      <td>{{getCoordinates(hex)}}</td>
      <td>{{getPlanetName()}}</td>
      <td>{{getUWP()}}</td>
      <td>{{getTradeCodes()}}</td>
      <td>{{getIx()}}</td>
      <td>{{getEx()}}</td>
      <td>{{getCx()}}</td>
      <td>{{getN()}}</td>
      <td>{{getBases()}}</td>
      <td>{{getZ()}}</td>
      <td>{{getPBG(hex)}}</td>
      <td>{{getWorldNum(hex)}}</td>
      <td>{{getAllegiance(hex)}}</td>
      <td>{{getStellar(hex)}}</td>
      <td><button *ngIf="notEmpty()" class="small secondary">See Details</button></td>
    </tr>
  </table>
</div>
