<h2>Prank</h2>
<p>A supposedly harmless prank goes wrong and someone gets hurt, physically or emotionally.</p>
<form *ngIf="!prankJail && !prankEnemy && !prankRival">
  <app-characteristic-roll [characteristic]="'SOC'"
                           [target]="8"
                           (rawRollResult)="prank($event)">
  </app-characteristic-roll>
</form>
<form *ngIf="prankRival">
  <p>You have gained a Rival.</p>
  <app-story></app-story>
  <button class="primary right" type="submit" (submit)="gainPrankRival()" (click)="gainPrankRival()">That's too bad.
  </button>
</form>
<form *ngIf="prankEnemy">
  <p>You have gained an Enemy.</p>
  <app-story></app-story>
  <button class="primary right" type="submit" (submit)="gainPrankEnemy()" (click)="gainPrankEnemy()">Aww, man!
  </button>
</form>
<form *ngIf="prankJail">
  <p>You have gained an Enemy, and you are going to jail next term. On the bright side, you can still attempt
    to
    graduate!</p>
  <app-story></app-story>
  <button class="primary right" type="submit" (submit)="jailed()" (click)="jailed()">I'll be careful next time.
  </button>
</form>
