<div *ngIf="!rolled">
  <h2>You are given advanced training in a specialist field.</h2>
  <app-characteristic-roll [characteristic]="'EDU'"
                           [target]="8"
                           (rolled)="submit($event)">
  </app-characteristic-roll>
</div>

<div *ngIf="rolled && success">
  <h2>Success! Choose a skill to improve by one level!</h2>
  <app-skill-select [groups]="getGroups()"
                    [groupNames]="getGroupNames()"
                    (skillChange)="changeSkill($event)"></app-skill-select>
  <button class="primary" (click)="submitSkill()">Submit</button>
</div>

<div *ngIf="rolled && !success">
  <h2>Unfortunately, you weren't paying attention.</h2>
  <button class="primary" (click)="proceed()">Oh...</button>
</div>
