<div>
  <h1>Education Event!</h1>
  <div *ngIf="!submitted">
    <label for="event">Roll 2d6</label>
    <input [(ngModel)]="eventResult" id="event" type="number" min="2" max="12">
    <button class="primary" (click)="submit()">Submit</button>
  </div>

  <div class="eventResult" *ngIf="submitted">
    <div *ngIf="eventResult == 2">
      <h2>Psionics</h2>
      <p>You are approached by an underground (and highly illegal) psionic group who sense potential in you.
        You may test your PSI and attempt to enter the Psion career in any subsequent turn.</p>
      <h3>Would you like to test your PSI now?</h3>
      <button class="primary" (click)="testPsi()">Let's Test it!</button>
      <button class="secondary" (click)="moveOn()">Not Right Now</button>
    </div>

    <div *ngIf="eventResult == 3">
      <h2>Tragedy!</h2>
      <p>Your time in education is not a happy one and you suffer a deep tragedy; perhaps you become hopelessly
        addicted to drink or drugs, a failed romance leaves you in tatters, or a fatal accident involving a close
        friend shakes your confidence. You crash and fail to graduate.</p>
      <button class="primary" (click)="skipGraduation()">Bummer...</button>
    </div>

    <div *ngIf="eventResult == 4">
      <h2>Prank</h2>
      <p>A supposedly harmless prank goes wrong and someone gets hurt, physically or emotionally.</p>
      <div *ngIf="!prankJail && !prankEnemy && !prankRival">
        <label for="prank">Roll 2d6</label>
        <input [(ngModel)]="specificEventNumber" id="prank" type="number" min="2" max="12">
        <button class="primary" (click)="this.prank()">Submit</button>
      </div>
      <div *ngIf="prankRival">
        <p>You have gained a [Rival].</p>
        <button class="primary" (click)="gainPrankRival()">That's too bad.</button>
      </div>
      <div *ngIf="prankEnemy">
        <p>You have gained an [Enemy].</p>
        <button class="primary" (click)="gainPrankEnemy()">Aww, man!</button>
      </div>
      <div *ngIf="prankJail">
        <p>You have gained an [Enemy], and you are going to jail next term. On the bright side, you can still attempt to
          graduate!</p>
        <button class="primary" (click)="jailed()">I'll be careful next time.</button>
      </div>
    </div>

    <div *ngIf="eventResult == 5">
      <h2>Party Time!</h2>
      <p>Taking advantage of youth, you party as much as you study. Gain Carouse 1.</p>
      <button class="primary" (click)="party()">Cool!</button>
    </div>

    <div *ngIf="eventResult == 6">
      <h2>Friends Forever</h2>
      <p>You become involved in a tightly knit clique or group and make a pact to remain friends forever, wherever in
        the galaxy you may end up.</p>
      <div *ngIf="!this.friendGroup">
        <label for="friends">Roll 1d3</label>
        <input [(ngModel)]="specificEventNumber" id="friends" type="number" min="1" max="3">
        <button class="primary" (click)="this.friendGroup = true">Submit</button>
      </div>
      <div *ngIf="this.friendGroup">
        <p>Cool! You gained {{specificEventNumber}} [Allies].</p>
        <button class="primary" (click)="friends()">Cool!</button>
      </div>
    </div>

    <div *ngIf="eventResult == 7">
      <h2>Life Event!</h2>
      <p>You have a life event!</p>
      <button class="primary" (click)="lifeEvent()">Let's Go!</button>
    </div>

    <div *ngIf="eventResult == 8">
      <h2>Getting Political</h2>
      <p>You join a political movement!</p>
      <div *ngIf="!politicalLeader && !politicalGrunt">
        <label for="politics">Roll 2d6</label>
        <input [(ngModel)]="specificEventNumber" id="politics" type="number" min="2" max="12">
        <button class="primary" (click)="politicalMovement()">Submit</button>
      </div>
      <div *ngIf="politicalLeader">
        <p>You soon became a leader in the movement! You gain 1 [Ally] from within the movement, and 1 [Enemy] from
          outside the movement.</p>
        <button class="primary" (click)="becamePoliticalLeader()">Cool!</button>
      </div>
      <div *ngIf="politicalGrunt">
        <p>But nothing really happened.</p>
        <button class="primary" (click)="notPoliticalLeader()">Oh...</button>
      </div>
    </div>

    <div *ngIf="eventResult == 9">
      <h2>Hobby!</h2>
      <p>You develop a healthy interest in a hobby or other area of study. Choose a skill of your choice to gain at
        level 0!</p>
      <app-skill-select [type]="'basic'" (onChange)="this.hobbySkill = $event"></app-skill-select>
      <button class="primary" (click)="hobby()">Submit</button>
    </div>

    <div *ngIf="eventResult == 10">
      <h2>Tutor Trouble</h2>
      <p>A newly arrived tutor rubs you up the wrong way and you work hard to overturn their conclusions.</p>
      <div *ngIf="!tutorBeaten && !tutorWins">
        <app-skill-select (onChange)="this.tutorSkill = $event" [type]="'this-term'" [label]="'Choose a skill to challenge the tutor in:'"></app-skill-select>
        <label for="tutor">Roll 2d6</label>
        <input [(ngModel)]="specificEventNumber" id="tutor" type="number" min="2" max="12">
        <button class="primary" (click)="tutor()">Submit</button>
      </div>
      <div *ngIf="tutorBeaten">
        <p>You provide a truly elegant proof that soon becomes accepted as the standard approach. You gained a level in {{this.tutorSkill}}!</p>
        <button class="primary" (click)="beatTutor()">Cool!</button>
      </div>
      <div *ngIf="tutorWins">
        <p>You didn't really accomplish much, but that's okay.</p>
        <button class="primary" (click)="lostToTutor()">I guess...</button>

      </div>
    </div>

    <div *ngIf="eventResult == 11">
      <h2>The Draft</h2>
      <p>War comes and a wide-ranging draft is instigated. You have a few options:</p>
      <ol>
        <li>You can <strong>flee</strong> the draft, <strong>not graduate</strong>, and join the <strong>Drifter</strong> career next term.</li>
        <li>You can <strong>be drafted</strong> and <strong>not graduate</strong>.</li>
        <li *ngIf="!avoidDraftFailure">You can try to <strong>leverege your Social Standing
          ({{socialStandingDm < 0 ? socialStandingDm : '+' + socialStandingDm}})</strong> to <strong>avoid the draft</strong> and
          <strong>complete your education</strong>.
        </li>
      </ol>
      <p *ngIf="avoidDraftFailure">You attempted to pull some strings to get out of the draft, but failed.</p>
      <h3 *ngIf="!avoidDraftAttempt || avoidDraftFailure">Which would you like to choose?</h3>
      <button *ngIf="!this.avoidDraftAttempt" class="primary" (click)="this.avoidDraftAttempt = true;">Leverage Social Standing
        ({{this._percentageService.get2d6Percentage(9, this.socialStandingDm)}}%)
      </button>
      <button *ngIf="!this.avoidDraftAttempt || avoidDraftFailure" class="primary" (click)="drafted()">Be Drafted
      </button>
      <button *ngIf="!this.avoidDraftAttempt || avoidDraftFailure" class="primary" (click)="fleeDraft()">Flee!</button>
      <div *ngIf="this.avoidDraftAttempt && ! avoidDraftFailure">
        <p>You are attempting to pull some strings to get out of the draft.</p>
        <label for="drafting">Roll 2d6</label>
        <input [(ngModel)]="specificEventNumber" id="drafting" type="number" min="2" max="12">
        <button class="primary" (click)="avoidDraft()">Submit</button>
      </div>
    </div>

    <div *ngIf="eventResult == 12">
      <h2>Recognition</h2>
      <p>You gain wide-ranging recognition of your innovative approach to study. Your SOC increases by 1!</p>
      <button class="primary" (click)="recognized()">Sweet!</button>
    </div>
  </div>
</div>
