<div>
  <h2>Life Event</h2>
  <div *ngIf="!submitted">
    <form>
      <label for="event">Roll 2d6</label>
      <input name="education-event" [(ngModel)]="eventResult" id="event" type="number" min="2" max="12">
      <button class="primary right" type="submit" (submit)="submitRoll()" (click)="submitRoll()">Submit</button>
    </form>
  </div>

  <div class="eventResult" *ngIf="submitted">
    <app-event-sickness-or-injury *ngIf="eventResult === 2" (eventComplete)="submit()"></app-event-sickness-or-injury>
    <app-event-birth-or-death *ngIf="eventResult === 3" (eventComplete)="submit()"></app-event-birth-or-death>
    <app-event-ending-of-relationship *ngIf="eventResult === 4" (eventComplete)="submit()"></app-event-ending-of-relationship>
    <app-event-improved-relationship *ngIf="eventResult === 5" (eventComplete)="submit()"></app-event-improved-relationship>
    <app-event-new-relationship *ngIf="eventResult === 6" (eventComplete)="submit()"></app-event-new-relationship>
    <app-event-new-contact *ngIf="eventResult === 7" (eventComplete)="submit()"></app-event-new-contact>
    <app-event-betrayal *ngIf="eventResult === 8" (eventComplete)="submit()"></app-event-betrayal>
    <app-event-travel *ngIf="eventResult === 9" (eventComplete)="submit()"></app-event-travel>
    <app-event-good-fortune *ngIf="eventResult === 10" (eventComplete)="submit()"></app-event-good-fortune>
    <app-event-crime *ngIf="eventResult === 11" (eventComplete)="submit()"></app-event-crime>
    <app-event-unusual-event *ngIf="eventResult === 12" (eventComplete)="submit()"></app-event-unusual-event>
  </div>
</div>
