<h1>INJURY TABLE</h1>

<table>
  <tr>
    <th class="die">1D</th>
    <th class="injury">Injury</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Nearly Killed - reduce one physical characteristic by 1D, reduce two other physical characteristics by 2.</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Severely Injured - Reduce one physical characteristic by 1D.</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Missing Eye or Limb - Reduce STR or DEX by 2.</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Scarred - You are scarred and injured. Reduce any physical characteristic by 2.</td>
  </tr>
  <tr>
    <td>5</td>
    <td>Injured - Reduce any physical characteristic by 1.</td>
  </tr>
  <tr>
    <td>6</td>
    <td>Lightly Injured - No permanent effect.</td>
  </tr>
</table>
