<div class="description">
    <p>{{career.Description}}</p>
    <div class="qualification">
        <p><strong>Qualification:</strong>
            {{career.Qualification.characteristic}} {{career.Qualification.characteristic != 'Automatic' ? career.Qualification.target + '+' : ''}}
            <br><span [innerHTML]="career.Qualification.special"></span>
        </p>
        <div *ngIf="isQualifyStep()">
            <label for="qualification-roll">Roll for
                Qualification({{qualificationModifier >= 0 ? '+' + qualificationModifier : qualificationModifier}}):</label>
            <input type="number" id="qualification-roll" [(ngModel)]="qualificationRoll"
                   min="2" max="12">
            <br>
            <button (click)="qualify()">Submit</button>
        </div>
    </div>
    <div class="assignments">
        <h2 class="assignments">ASSIGNMENTS</h2>
        <p>Choose one of the following:</p>
        <div class="assignment-choice" *ngFor="let careerAssignment of career.Assignments; index as i">
            <input *ngIf="isAssignmentStep()"
                   type="radio"
                   id="assignment-select-{{i}}"
                   name="assignment"
                   value="{{careerAssignment.Name}}"
                   [(ngModel)]="chosenAssignment">
            <label
                    class="{{chosenAssignment == careerAssignment.Name ? 'chosen-assignment' : ''}}"
                    for="assignment-select-{{i}}">
                <strong>{{careerAssignment.Name}}:</strong> {{careerAssignment.Description}}</label>
        </div>
        <button *ngIf="isAssignmentStep()" (click)="assignment()">Submit</button>
    </div>
</div>
