<h2>Investigation</h2>

<p>An investigation goes critically wrong or leads to the top, and you must leave the Agent career.</p>
<h3>Roll Advocate 8+.</h3>
<p>If you succeed, you may keep the Benefit roll from this turn.
  <br>If you roll 2, you must take the Prisoner career in your next term.</p>

<app-skill-roll [skill]="'Advocate'"
                [target]="8"
                (result)="submit($event)">
</app-skill-roll>

<div *ngIf="success">
  <h3>You succeeded! You get to keep your benefit!</h3>
  <button class="primary" (click)="proceed()">That's something, I guess...</button>
</div>
