<div class="career-progress">
    <h2>CAREER PROGRESS</h2>
    <table>
        <tr>
            <th>
                <div class="survival" *ngIf="isSurvivalStep() || isAdvancementStep()">
                    <label
                            for="survival-roll">{{isSurvivalStep()
                        ? 'Survival (' + (survivalModifier > 0 ? '+' + survivalModifier : survivalModifier) + ')'
                        : 'Advancement (' + (advancementModifier > 0 ? '+' + advancementModifier : advancementModifier) + ')'}}
                    </label>
                    <input type="number" id="survival-roll" [ngModel]="advancementRoll" min="2" max="12">
                    <button (click)="isSurvivalStep() ? survive() : advance()">Submit</button>
                </div>
            </th>
            <th>SURVIVAL</th>
            <th>ADVANCEMENT</th>
        </tr>
        <tr *ngFor="let assignment of career.Assignments">
            <td>{{assignment.Name}}</td>
            <td>{{assignment.Survival.characteristic}} {{assignment.Survival.target}}+</td>
            <td>{{assignment.Advancement.characteristic}} {{assignment.Advancement.target}}+</td>
        </tr>
    </table>
</div>
