<h1>Basic Information</h1>
<app-alert *ngIf="hasError"
           [type]="error"
           [message]="'All fields are required.'"></app-alert>
<form>
  <div class="form-field">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" [(ngModel)]="name" required>
  </div>
  <div class="form-field">
    <label for="species">Species</label>
    <input type="text" id="species" name="species" [(ngModel)]="species" required>
  </div>
  <div class="form-field">
    <label for="homeworld">Homeworld</label>
    <input type="text" id="homeworld" name="homeworld" [(ngModel)]="homeworld" required>
  </div>
  <button type="submit" (submit)="submit()" (click)="submit()" class="primary">Submit</button>
</form>
