<div>
  <h1>Military Academy</h1>
  <p>For those who are looking to dedicate their lives to military service, there is no better option than joining
    an academy to round out an education. This is a popular choice for those coming from 'military' families or
    those having grown up never considering anything other than a life in uniform. A term within a military academy can
    set a recruit's career for great things, so competition to gain one of the limited number of open student slots is
    fierce.</p>
  <h2>Time to submit an application. Army, Marines, or Navy?</h2>
  <div *ngIf="!applied">
    <h3>Roll for entry:</h3>
    <label for="acceptance">Roll 2d6</label>
    <input class="number" type="number" id="acceptance" name="acceptance" [(ngModel)]="acceptanceRoll" min="2" max="12"/>
    <button class="primary" (click)="apply('Navy')">Navy ({{navyChance}}%)</button>
    <button class="primary" (click)="apply('Marines')">Marines ({{marinesChance}}%)</button>
    <button class="primary" (click)="apply('Army')">Army ({{armyChance}}%)</button>
  </div>

  <div *ngIf="applied && !armyAcademy && !marinesAcademy && !navyAcademy">
    <h3>You weren't accepted...</h3>
  </div>

  <div *ngIf="applied && armyAcademy">
    <h3>You were accepted into the Army Academy!</h3>
    <h4>You gain the following skills:</h4>
    <ul>
      <li *ngFor="let skill of armySkills">[{{skill}} 0]</li>
    </ul>
  </div>

  <div *ngIf="applied && marinesAcademy">
    <h3>You were accepted into the Marines Academy!</h3>
    <h4>You gain the following skills:</h4>
    <ul>
      <li *ngFor="let skill of marinesSkills">[{{skill}} 0]</li>
    </ul>
  </div>

  <div *ngIf="applied && navyAcademy">
    <h3>You were accepted into the Navy Academy!</h3>
    <h4>You gain the following skills:</h4>
    <ul>
      <li *ngFor="let skill of navySkills">[{{skill}} 0]</li>
    </ul>
  </div>
  <button *ngIf="applied" class="primary" (click)="moveOn()">Ok</button>
</div>
