<div class="education-container">
  <div>
    <h1>Education</h1>
    <p>Before a Traveller embarks on a lifelong career, there are educational options that may be worth considering.
      They are going to <strong>university</strong> or attending a <strong>military academy.</strong></p>
    <h2>Would you like to try to attend university or military academy?</h2>
    <button class="secondary" (click)="skip()">Skip to Careers</button>
    <button class="primary" (click)="toMilitaryAcademy()">Military Academy</button>
    <button class="primary" (click)="toUniversity()">University</button>
  </div>
</div>
