<app-alert [type]="error"
           [message]="getMessage()"
  *ngIf="hasError"></app-alert>
<h2>Directions: Please pick <strong>{{skillNum}}</strong> skills from the following
  (<strong>{{skillNum - selectedSkillNum}}</strong> remaining):</h2>
<form>
  <div class="skill-list">
    <div class="checkbox-container" *ngFor="let skill of availableSkillList">
      <div class="custom-tooltip">
        <input type="checkbox" id="{{skill}}" (change)="change(skill)">
        <label for="{{skill}}">{{skill}}</label>
        <span class="custom-tooltip-text">{{getDescription(skill)}}</span>
      </div>
    </div>
  </div>
  <button type="submit" class="primary right" (submit)="submit()" (click)="submit()">Next</button>
</form>
