<div class="container">
  <div class="career-header">
    <h1>Advancement for {{career.Name}} - {{assigment.Name}}</h1>
  </div>
  <app-characteristic-roll [characteristic]="assigment.Advancement.characteristic"
                           [target]="assigment.Advancement.target"
                           (rolled)="submit($event)">
  </app-characteristic-roll>

  <div *ngIf="rolled && advanced">
    <h2>Congratulations! You have advanced!</h2>
    <p>You have reached Rank {{getRank()}}: {{getRankName()}}</p>
    <button class="primary" (click)="proceed()">Cool!</button>
  </div>

  <div *ngIf="rolled && !advanced">
    <h2>You Didn't Advance...</h2>
    <button class="primary" (click)="proceed()">Maybe next time!</button>
  </div>
</div>
