<h2>Undercover</h2>

<p>You go undercover to investigate an enemy.</p>

<div *ngIf="!rolled">
  <div class="event-field flex-row">
    <label for="event-roll">Roll 2D (Deception 8+):</label>
    <input type="number" id="event-roll" [(ngModel)]="eventRoll" min="2" max="12">
    <p>(+{{deceptionDm}})</p>
    <button class="primary" (click)="submitRoll()">Submit</button>
  </div>
</div>

<div *ngIf="rolled && success">
  <app-citizen-event></app-citizen-event>
  <app-rogue-event></app-rogue-event>
</div>

<div *ngIf="rolled && !success">
  <!--<app-citizen-mishap></app-citizen-mishap>-->
  <!--<app-rogue-mishap></app-rogue-mishap>-->
</div>
