<div class="container">
  <div *ngIf="isQualifyStep()">
    <label for="career-select">Select a Career: </label>
    <select id="career-select" [(ngModel)]="careerName" (change)="changeCareer()">
      <option *ngFor="let careerName of getCareerNames()">{{careerName}}</option>
    </select>
  </div>

  <div class="career-name">
    <h1 class="designation">{{career.Designation}}</h1>
    <h1>{{career.Name.toUpperCase()}}</h1>
  </div>

  <div class="flex-row">
    <app-career-description [career]="career"
                            [careerStep]="careerStep"
                            [isFirstTermInCareer]="isFirstTermInCareer()"
                            (nextStep)="careerStep = $event"
                            (assignmentChosen)="assignment = $event">

    </app-career-description>

    <div class="right">
      <app-career-progress [career]="career"
                           [careerStep]="careerStep"
                           [assignment]="assignment"></app-career-progress>
      <app-career-benefits [career]="career"></app-career-benefits>
    </div>
  </div>

  <app-career-skills [career]="career"
                     [careerStep]="careerStep"
                     [isFirstTermInCareer]="isFirstTermInCareer()"
                     (nextStep)="careerStep = $event"></app-career-skills>

  <app-career-events [career]="career"></app-career-events>
  <app-career-mishaps [career]="career"></app-career-mishaps>

  <app-career-ranks [career]="career"></app-career-ranks>
</div>
