label {
  margin-right: 32px;
}

select {
  width: 128px;
}

app-career-description {
  width: 50%;
}

.container {
  background-color: black;
  color: white;
  padding: 64px;
}

.career-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 2px #00b0eb solid;
  border-bottom: 2px #00b0eb solid;

  h1 {
    font-size: 40pt;
    padding: 0;
    margin: 0;
  }

  .designation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    text-align: center;
    font-size: 32pt;
    margin: 16px 16px 16px 0;
    border: solid 2px #00b0eb;
    border-radius: 50%;
  }
}

.flex-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  margin-left: 32px;
  padding: 16px 0;
}
