<div class="characteristics">
    <h2>Characteristics</h2>
    <div class="flex-col">
        <div class="column">
            <div class="characteristic">
                <p>STR:</p>
                <p>{{getStrength()}}
                    ({{getStrengthDm() >= 0 ? '+' + getStrengthDm() : getStrengthDm()}}
                    )</p>
            </div>
            <div class="characteristic">
                <p>DEX:</p>
                <p>{{getDexterity()}}
                    ({{getDexterityDm() >= 0 ? '+' + getDexterityDm() : getDexterityDm()}})</p>
            </div>
            <div class="characteristic">
                <p>END:</p>
                <p>{{getEndurance()}}
                    ({{getEnduranceDm() >= 0 ? '+' + getEnduranceDm() : getEnduranceDm()}})</p>
            </div>
            <div *ngIf="getPsi() >= 0" class="characteristic">
                <p>PSI:</p>
                <p>{{getPsi()}}
                    ({{getPsiDm() >= 0 ? '+' + getPsiDm() : getPsiDm()}})</p>
            </div>
        </div>
        <div class="column">
            <div class="characteristic">
                <p>INT:</p>
                <p>{{getIntellect()}}
                    ({{getIntellectDm() >= 0 ? '+' + getIntellectDm() : getIntellectDm()}})</p>
            </div>
            <div class="characteristic">
                <p>EDU:</p>
                <p>{{getEndurance()}}
                    ({{getEnduranceDm() >= 0 ? '+' + getEnduranceDm() : getEnduranceDm()}})</p>
            </div>
            <div class="characteristic">
                <p>SOC:</p>
                <p>{{getSocialStanding()}}
                    ({{getSocialStandingDm() >= 0 ? '+' + getSocialStandingDm() : getSocialStandingDm()}})</p>
            </div>
        </div>
    </div>
</div>
