h1, h2 {
  background-color: black;
  color: red;
  padding: 8px 16px;
}

.characteristic {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-col {
  display: flex;
  flex-direction: row;
}

.column {
  font-weight: 500;
  margin-right: 128px;
}
