<h2>Tutor Trouble</h2>
<p>A newly arrived tutor rubs you the wrong way and you work hard to overturn their conclusions.</p>
<form *ngIf="!tutorBeaten && !tutorWins">
    <app-skill-select (onChange)="this.tutorSkill = $event"
                      [groups]="getSkillsLearnedThisTerm()"
                      [groupNames]="getGroupNames()"
                      [label]="'Choose a skill to challenge the tutor in:'"></app-skill-select>
  <app-skill-roll [skill]="tutorSkill" [target]="9" (rolled)="submit($event)"></app-skill-roll>
</form>
<form *ngIf="tutorBeaten">
    <p>You provide a truly elegant proof that soon becomes accepted as the standard approach. You gained a level
        in {{this.tutorSkill}}, and the tutor as your Rival</p>
    <app-story></app-story>
    <button class="primary" type="submit" (submit)="beatTutor()" (click)="beatTutor()">Cool!</button>
</form>
<form *ngIf="tutorWins">
    <p>You didn't really accomplish much, but that's okay.</p>
    <button class="primary" type="submit" (submit)="lostToTutor()" (click)="lostToTutor()">I guess...</button>
</form>
