<h1>University</h1>
<h2>Graduation!</h2>

<div *ngIf="!success && !honors && !failure">
  <p>Now we get to see if you graduate!</p>
  <app-characteristic-roll [characteristic]="'INT'"
                           [target]="7"
                           (result)="submit($event)">
  </app-characteristic-roll>
</div>

<div *ngIf="success">
  <h3>Congratulations! You Graduated!</h3>
  <h4>Your studies have paid off!</h4>
  <ul>
    <li class="main">You have gained {{skills[0].Name}} {{skills[0].Value + 1}} and {{skills[1].Name}} {{skills[1].Value + 1}}</li>
    <li class="main">Your EDU has increased by 2!</li>
    <li class="main">
      You will gain a +1 bonus when applying for the following jobs:
      <ul class="normal">
        <div class="flex">
          <div class="column">
            <li>Agent</li>
            <li>Citizen (corporate)</li>
            <li>Entertainer (journalist)</li>
            <li>Scholar</li>
          </div>
          <div class="column">
            <span class="main">You can also make a Commission roll for the following jobs:</span>
            <li>Army</li>
            <li>Marines</li>
            <li>Navy</li>
            <li>Scouts</li>
          </div>
        </div>
      </ul>
    </li>
  </ul>
  <button class="primary" (click)="moveOn()">Huzzah!</button>
</div>

<div *ngIf="honors">
  <h3>Congratulations! You Graduated with Honors!</h3>
  <h4>Your studies have paid off!</h4>
  <ul>
    <li class="main">You have gained {{skills[0].Name}} {{skills[0].Value + 1}} and {{skills[1].Name}} {{skills[1].Value + 1}}</li>
    <li class="main">Your EDU has increased by 2!</li>
    <li class="main">
      You will gain a +2 bonus when applying for the following jobs:
      <ul class="normal">
        <div class="flex">
          <div class="column">
            <li>Agent</li>
            <li>Citizen (corporate)</li>
            <li>Entertainer (journalist)</li>
            <li>Scholar</li>
          </div>
          <div class="column">
            <span class="main">You can also make a Commission roll (at +2) for the following jobs:</span>
            <li>Army</li>
            <li>Marines</li>
            <li>Navy</li>
            <li>Scouts</li>
          </div>
        </div>
      </ul>
    </li>
  </ul>
  <button class="primary" (click)="moveOn()">Huzzah!</button>
</div>

<div *ngIf="failure">
  Failure...
  <button class="primary" (click)="moveOn()">Dang!</button>
</div>
